$textLight: rgb(0, 0, 0);
$textDark: rgb(255, 255, 255);
$bgLight: rgb(255, 255, 255);
$bgDark: rgb(0, 0, 0);

$greyColor: rgba(70, 81, 89, 255);
$lightGreyColor: rgba(221, 221, 221, 255);
$whiteTextColor: rgba(245, 245, 246, 255);

